@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --accent-color: #ff3366;
}

body {
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
}

.bg-accent {
  background-color: var(--accent-color);
}

.text-accent {
  color: var(--accent-color);
}

/* Add any other global styles here */
